:root {
    --test-var: black;
    --button-background: #447964;
    --button-color: white;
    --layout-inline-spacing-default: 8px;
    --button-corner-radius: 0;
}


.test-style {
    font-size: 40px;
}
